/* "Base" CSS */
* {
    margin: 0px;
    padding: 0px;
}
/*Make this default. Will be overridden as required*/

body {
    margin: 30px;
    /*margin for everything in body*/
}

/*nav bar*/
nav {
    text-align: right;
    font-size: 70%;
    margin-top: 10px;
    float: right;
}

nav a {
    padding: 0px 7px;
}

/* header */
header {
    margin-top: 55px;
    margin-bottom: 20px;
}

header h4 {
    margin-left: 13px;
}

header #header__intro {
    margin-top: 25px;
    background-color: #eee;
    padding: 13px;
}

header #header__intro h5 {
    margin: 12px 0px;
}

header #header__intro p {
    font-size: 60%;
}

header #header__intro button {
    font-size: 60%;
    background-color: #eee;
    margin: 15px 0px;
}

/*section*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section .section__video {
    text-align: center;
    margin: auto;
}

section .section__video .video__thumbnail {
    width: 150px;
    height: 85px;
    background-color: #eee;
}

section .section__video h5 {
    margin-top: 5px;
    margin-bottom: 8px;
}

section .section__video p,
section .section__video a {
    font-size: 10px;
}

section .section__video a {
    display: inline-block;
    padding-top: 15px;
}

/*subscription*/
#subscription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    margin-top: 5%;
    padding: 3% 0%;
}

#subscription h4 {
    margin-left: 5%;
}

#subscription input {
    margin: 0% 1% 0% 3%
}

#subscription button {
    background-color: #3da8ff;
    color: white;
    padding: 2px 70px 2px 20px;
}

/*footer*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5%;
}

footer p {
    margin: auto;
    font-size: 10px;
}

footer #footer__space {
    color: white;
}

@media screen and (max-width: 600px) {

    /*subscription*/
    #subscription {
        display: block;
    }

    #subscription h4,
    #subscription input {
        margin: auto;
    }

    /*footer*/
    footer #footer__space {
        display: none;
    }
}
